body {
    background-color: #fff;
    color: #1b1f21;
    font-family: "Roboto", sans-serif;
    font-weight: 600px;
}

.container {
    display: flex;
    flex: 100%;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-self: center;
}

.menu {
    background-color: #fff;
    color: #1b1f21;
    display: flex;
    flex: 20%;
    flex-direction: column;
    height: 100vh;

}

.contenido {
    background-color: #e8ebe4;
    color: #1b1f21;
    display: flex;
    flex: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.usuarioPrincipal,
.chat {
    border: 1px solid #bec1bb;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
}


.fotoUsuarios {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.chatUsuario,
.chatContactos {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.chatUsuario h2,
.chatContactos h2 {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}

.chatUsuario p {
    margin: 0;
    color: #bec1bb;
    font-size: 10px;
}

.seccionChat {
    border: 1px solid #bec1bb;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.btnChat {
    background-color: #a491d2;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    padding: 20px 80px;
    border: none;
    cursor: pointer;
}


.chatContactos p {
    margin: 0;
    color: #1b1f21;
    font-size: 14px;
    font-weight: 400;
}

.chat .imgcontacto {
    width: 60px;
    height: 60px;
}

.contenido img {
    height: 300px;
}

.contenido h1 {
    font-size: 45px;
    font-weight: 400;
    margin: 10px;
}

.contenido p {
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    width: 450px;
    text-align: center;
    margin: 10px;
}